body, h1, h2, h3, p, ul, ol, li, a {
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(to bottom, #339191, #fff 1400px);
  color: #000000;
  font-family: Arial, sans-serif;
  animation: fade-in 2s;
}

@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

/* Estilos generales */
body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.left-side img {
  width: 800px; /* Tamaño personalizado */
}

.title-container {
  text-align: center;
}

.additional-info {
  margin-top: 0px;
  padding: 20px;
  
}

.additional-info h3 {
  margin-bottom: 10px;
}

.additional-info p {
  margin-bottom: 10px;
}

footer {
  background-color: #f2f2f2;
  padding: 10px;
  text-align: center;
}

/* Estilos del encabezado */
html {
  scroll-behavior:smooth;
}

header {
  background-color: #f2f2f2;
  padding: 10px;
}

.header-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 50px; /* Tamaño personalizado */
  height: 50px; /* Tamaño personalizado */
}

.header-title {
  margin-left: 20px;
  margin-bottom: 8px;
  margin-right: 1200px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
}

.header-nav {
  list-style: none;
  display: flex;
  margin-left: auto;
  padding: 0;
}

.header-nav li {
  justify-content: right;
  margin-left: 100px;
}

.header-nav a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}



.container {
  display: flex;
  
  align-items: center;
  padding-top: 20px;
}

.left-side img {
  max-width: 300%;
  height: auto;
  animation: moveFromTop 1s ease-in-out forwards;
  margin-left: 100px;
}

.right-side {
  animation: moveFromTop 2s ease-in-out forwards;
}

.title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

h1#title {
  font-size: 80px;
  font-family: 'Open Sans', sans-serif;
font-family: 'Press Start 2P', cursive;
  text-transform: uppercase;
  background: linear-gradient(#ffffff, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: colorAnimation 5s infinite;
  margin-bottom: 20px;
  margin-left: 400px;
}

h2#subtitle {
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
font-family: 'Press Start 2P', cursive;
  background: linear-gradient(#ffffff, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: colorAnimation 5s infinite;
  margin-left:700px;
  margin-right: 300px;
}

@keyframes moveFromTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.title-line {
  display: block;
}



/* Resto del código CSS... */

.additional-info details {
  margin-bottom: 50px; /* Margen inferior de 40px */
  padding: 1px; /* Espacio interno de 1px */
  border-radius: 100px; /* Borde redondeado de 100px */
  border: 6px solid #ffd167; /* Borde sólido de 6px de color #ffd167 */
  background-color: #ffd1673b; /* Fondo transparente */
  margin-left: 100px; /* Margen izquierdo de 100px */
  margin-right: 100px; /* Margen derecho de 100px */
  text-align: center; /* Alineación centrada del texto */
  transition: transform 0.3s; /* Añade una transición suave al cambio de escala */
}

.additional-info details:hover {
  transform: scale(1.02); /* Hace el desplegable 10% más grande al pasar el ratón por encima */
}


.additional-info details summary {
  
  font-size: 44px; /* Tamaño de fuente de 44px */
  font-weight: bold; /* Negrita */
  cursor: pointer; /* Cambio de cursor al puntero */
  text-align: center; /* Alineación centrada del texto */
  border: none; /* Sin borde */
  outline: none; /* Sin contorno al enfocar */
  background-color: transparent; /* Fondo transparente */
}

.additional-info details summary::marker {
  content: ""; /* Contenido vacío */
  display: inline-block; /* Mostrar como bloque en línea */
  width: 10px; /* Ancho de 10px */
  height: 10px; /* Altura de 10px */
  margin-right: 5px; /* Margen derecho de 5px */
  border-bottom: 2px solid #000000; /* Borde inferior sólido de 2px de color #000000 */
  border-right: 2px solid #000; /* Borde derecho sólido de 2px de color #000 */
  transform: rotate(45deg); /* Rotación de 45 grados */
 
}

.additional-info details summary::-webkit-details-marker {
  display: none; /* Ocultar el marcador del elemento details en navegadores webkit */
  text-align: center; /* Alineación centrada del texto */
}

.additional-info details p {
  
  margin-top: 10px; /* Margen superior de 10px */
  font-size: 16px; /* Tamaño de fuente de 16px */
  margin-bottom: 40px;
  text-align: center; /* Alineación centrada del texto */
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}


.team-members {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: row; /* Mostrar en una línea horizontal */
}

.team-members li {
  margin-bottom: 70px;
  font-size: 26px;
  margin-left: 10px;
  margin-right:40px; /* Espacio entre los elementos de la lista */
}

.team-members img {
  margin-left: 100px;
  margin-right: -100px;
  width: 50px; /* Tamaño personalizado */
  height: 50px; /* Tamaño personalizado */
  transition: transform 0.3s; /* Añade una transición suave al cambio de escala */
}

.team-members img:hover {
  transform: scale(1.2); /* Hace la imagen 20% más grande al pasar el ratón por encima */
}


.team-member a {
  display: flex; /* Establece un diseño flexible */
  align-items: center; /* Centra verticalmente los elementos */
  text-decoration: none; /* Quita la decoración de texto predeterminada */
}

.github-link-text {
  
  margin-left: 10px; /* Añade un margen entre la imagen y el texto */
  transition: opacity 0.3s; /* Añade una transición suave al cambio de opacidad */
}

.team-member a:hover .github-link-text {
  opacity: 0; /* Oculta el texto al pasar el ratón por encima */
}

.team-members {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap; /* Permite que los elementos se envuelvan en varias líneas */
  justify-content: center; /* Centra los elementos horizontalmente */
  align-items: center; /* Centra los elementos verticalmente */
}

.team-members li {
  
  margin-bottom: 10px; /* Espacio inferior entre los elementos de la lista */
  margin-right: 20px; /* Espacio derecho entre los elementos de la lista */
 
}

.team-member-image {
  border-radius: 100px;
  max-width: 250px; /* Tamaño máximo de las imágenes */
  height: auto; /* Ajusta la altura automáticamente para mantener la proporción */
  padding:25px;
}



