*.bin

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib


# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app

#extres
*.vsidx
*.lock
*.suo
*.db
*.db-shm
*.db-wal
*.opendb
*.ipch
*.user
*.tlog
*.log
*.recipe
*.ilk
*.idb
*.txt
*.pdb
*.ap
*.aps
*.rc
/Jovani adventures 1 - La batidora/Jovani adventures 1 - La batidora/resource.h
*.res
*.hpp
*.filters
*.vcxproj